<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chores</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ list_detail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' list_detail.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' list_detail.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                <tbody>
                    {% for chore in list_detail.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' chore.id %}">{{ chore.task }}</a>
                        </td>
                        <td>{{ chore.due_date|date:"M d, Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
